#box{
    height: 200px;
    width:300px;
    background-color:blue;
    position: relative;
    margin: 50px auto;

}
.box{
    box-sizing: border-box;
    background-color: red;
}
.first,.third{
    height: 60px;
    width: 300px;

}
.third{
    position: absolute;
    bottom:0px;
    

}
.second{
    height: 70px;
    width:70px;
    background-color: white;
    border-radius: 50%;
    position:absolute;

}
.second{
    left:120px;
    top: 065px;
}